@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("./fonts/FoundersGrotesk-Regular.otf");
}

body {
  margin: 0;
  padding: 0;
}
